
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Name</h3>

<ul>
    <li><b>Genre :</b> @Model.Genre.Name</li>
    <li><b>Release Date :</b> @Model.ReleaseDate.ToString("dddd,MMMM dd,yyyy")</li>
    <li><b>Date Added :</b> @Model.DateAdded.ToString("dddd,MMMM dd,yyyy")</li>
    <li><b>Number In Stocks :</b> @Model.NumberInStock</li>
</ul>

