@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@Styles.Render("~/Content/main")



<div class="limiter">
    <div class="container-50">
        @*<hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>*@
        <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
            
            <h4 class="txt5 lh-4">@ViewBag.Title.</h4>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
        
@Scripts.Render("~/bundles/jquery")

 @Scripts.Render("~/bundles/main")


