@model Vidly.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


@Styles.Render("~/Content/main")


<div class="limiter">
    <div class="container-50">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "validate-form form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <span class="login100-form-title p-b-20 txt4">
                    @ViewBag.Title
                    <p class="txt3 m-t-10">Enter Your Email</p>
                    <span class="txt3 text-center validation-summary">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>
                </span>

                @Html.LabelFor(m => m.Email, new { @class = "txt1 p-b-11" })
                <div class="wrap-input100 validate-input m-b-36">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input100", @type = "Email" })
                    <span class="focus-input100"></span>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="container-login100-form-btn flex-sb">
                    <input type="submit" value="Email Link" class="login100-form-btn" />
                </div>

            }

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/main")




@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
